h1{
    font-size: 50px;
    color: white;
    font-family:Arial;
    text-decoration: underline overline;
    text-decoration-color: yellow;
}

h4{
    font-family:Arial;
    color: yellow;
    border: red;
    border: 10px;
    border-radius: 5px;
}

ul, ol, dl{
    font-family: Arial;
    color: white;
}

table, tr, td, th{
    font-family:Arial;
    color: white;
    border: 1px solid white
}

a{
    color: lightblue;
}

img{
    border-radius: 20px;
}

textarea{
    resize: none;
}
